<div class="container-fluid main-room-list-container">
  <div class="row room-list">
      <div *ngFor="let item of data" class="col-sm-6 col-lg-4 finn-col-gl-3 main-room-list-item">
        <div class="embed-responsive embed-responsive-3by2">
            <img src="{{item.image}}" class="embed-responsive-item" alt="room image">
        </div>
        <div class="room-list-item-type">
            {{item.roomType}}
          </div>
        <div class="room-list-item-title">
            {{item.title}}
        </div>
        <div class="room-list-item-price">
          ₩{{item.price}}
        </div>
      </div>
  </div>
</div>
