<div class="container-fluid main-room-list-container">
  <div class="test">
    <div class="row room-list">
      <div *ngFor="let result of data; let i =index" class="col-sm-6 col-lg-4 finn-col-gl-3 main-room-list-item">
        <div class="embed-responsive embed-responsive-3by2">
          <img src="{{result.image}}" class="embed-responsive-item" alt="room image">
        </div>
        <div class="room-list-item-type">
          {{result.roomType}}
        </div>
        <div class="room-list-item-title">
          {{result.title}}
        </div>
        <div class="room-list-item-price">
          ₩{{result.price}}
        </div>
      </div>
    </div>
    <div class="map-wrapper">
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude">
          <agm-info-window></agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>
