<div class="main">
  <div class="main-wrapper">
    <div class="row">
      <div class="col-sm-8">
        <div class="text-area">
          <div class="tip">
            <span>검색어를 변경해서 시도해보세요, 다음의 팀을 참조하세요</span>
            <ul>
              <li>특정 도시, 주소 또는 명소 검색</li>
              <li>필터 또는 날짜 변경</li>
              <li>지도에서 확대</li>
            </ul>
          </div>
          <div class="result-wrapper">
            <span class="not-result">검색 결과 없음</span>
            <p>더 많은 검색 결과를 원하시면 검색 조건을 변경해보세요.</p>
            <p>또는 지도를 축소하여 검색 조건을 변경해보세요.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
