<div class="header" [class.on-dropdown-show]="showDropdown">
  <div class="logo" (click)="onLogoClick()">
    <svg class="svg1" viewBox="0 0 1000 1000" role="presentation" aria-hidden="true" focusable="false" style="height:1em;width:1em;display:block;fill:currentColor">
      <path d="m499.3 736.7c-51-64-81-120.1-91-168.1-10-39-6-70 11-93 18-27 45-40 80-40s62 13 80 40c17 23 21 54 11 93-11 49-41 105-91 168.1zm362.2 43c-7 47-39 86-83 105-85 37-169.1-22-241.1-102 119.1-149.1 141.1-265.1 90-340.2-30-43-73-64-128.1-64-111 0-172.1 94-148.1 203.1 14 59 51 126.1 110 201.1-37 41-72 70-103 88-24 13-47 21-69 23-101 15-180.1-83-144.1-184.1 5-13 15-37 32-74l1-2c55-120.1 122.1-256.1 199.1-407.2l2-5 22-42c17-31 24-45 51-62 13-8 29-12 47-12 36 0 64 21 76 38 6 9 13 21 22 36l21 41 3 6c77 151.1 144.1 287.1 199.1 407.2l1 1 20 46 12 29c9.2 23.1 11.2 46.1 8.2 70.1zm46-90.1c-7-22-19-48-34-79v-1c-71-151.1-137.1-287.1-200.1-409.2l-4-6c-45-92-77-147.1-170.1-147.1-92 0-131.1 64-171.1 147.1l-3 6c-63 122.1-129.1 258.1-200.1 409.2v2l-21 46c-8 19-12 29-13 32-51 140.1 54 263.1 181.1 263.1 1 0 5 0 10-1h14c66-8 134.1-50 203.1-125.1 69 75 137.1 117.1 203.1 125.1h14c5 1 9 1 10 1 127.1.1 232.1-123 181.1-263.1z"></path>
    </svg>
    <img *ngIf="navToDropdown && !showDropdown" src="assets/img/chevron_bottom.svg" alt="chevron bottom">
    <img *ngIf="navToDropdown && showDropdown" src="assets/img/chevron_top.svg" alt="chevron top">
  </div>
  <div class="header-search">
    <input
      #headerSearch
      type="text"
      class="header-search-input"
      [class.hide]="navToDropdown"
      placeholder="'홍콩'에 가보는건 어떠세요?"
      [(ngModel)]="searchInput"
      (focus)="onFocusSearchInput()"
      (blur)="onBlurSearchInput()">
    <img
      *ngIf="searchInput"
      class="icon-clear-input"
      (click)="clearSearchInput()"
      src="assets/img/clear_input.svg"
      alt="clear input">
      <!-- 코드 중복 1-->
    <div *ngIf="isInputFocused" class="search-dropdown">
      <div class="recent-search-title">최근 검색 기록</div>
      <ul class="recent-search-list">
        <li class="recent-search-list-item">
          <div class="icon-clock-container">
              <img class="icon-clock" src="assets/img/icon_clock.svg" alt="icon-clock">
          </div>
          <div>
            <div class="recent-search-place">서초구 더케이호텔서울</div>
            <div class="recent-search-condition">모든 날짜 · 게스트 1명</div>
          </div>
        </li>
        <li class="recent-search-list-item">
          <div class="icon-clock-container">
              <img class="icon-clock" src="assets/img/icon_clock.svg" alt="icon-clock">
          </div>
          <div>
            <div class="recent-search-place">한국</div>
            <div class="recent-search-condition">모든 날짜 · 게스트 1명</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="navToDropdown" class="search-modal-btn" (click)="toggleSearchModal()">
    <img class="icon-magnifying-glass-small" src="assets/img/magnifying_glass_small.svg" alt="magnifying glass">
    <span>'마드리드'에 가보는 건 어떠세요?</span>
  </div>
  <nav *ngIf="!navToDropdown" class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-list-item">
        <a routerLink="/host"><span>호스팅하기</span></a></li>
      <li *ngIf="!hasRole()" class="header-nav-list-item">
        <a (click)="toggleLoginModal()"><span>회원가입</span></a>
      </li>
      <li *ngIf="!hasRole()" class="header-nav-list-item">
        <a (click) = "toggleSinnUpModal()"><span>로그인</span></a></li>
      <li *ngIf="true" class="header-nav-list-item user">
        <label for="user-menu">
          <img
            class="default-profile-image"
            [src]="profilePath" alt="profile image"
            (error)="profilePath = 'assets/img/defaultProfileImg.png'">
        </label>
        <input type="checkbox" id="user-menu" [(ngModel)]="isUserMenuOpen" class="hide">
      </li>
    </ul>
    <div *ngIf="isUserMenuOpen" class="user-dropdown">
        <li><a routerLink="/user">프로필 수정</a></li>
        <li>로그아웃</li>
    </div>
  </nav>
</div>
<app-login [modal]=" modal "
[login_signUp]=" login_signUp "
[login_sign]="login_sign"
(offButton)="offButton($event)"
(moveSignUp)="moveSignUp($event)"
(moveSignIn)= "moveSignIn($event)"
(move) = "move($event)"></app-login>
<div id="myNav" class="overlay menu" [class.show]="showDropdown">
    <div class="overlay-content menu">
      <a routerLink="/" (click)="toggleDropdown()">홈</a>
      <a routerLink="/host" (click)="toggleDropdown()">호스팅하기</a>
      <a (click)="toggleLoginModal()">회원가입</a>
      <a (click)="toggleSinnUpModal()">로그인</a>
    </div>
</div>
<div class="overlay search" [class.show]="showSearchModal">
  <div class="overlay-content search">
    <div class="search-modal-head">
      <img class="icon-x" src="../../../assets/img/icon_x.svg" alt="icon x" (click)="toggleSearchModal()">
      <div class="search-modal-title">위치</div>
      <div class="search-modal-delete-dropdown">삭제</div>
    </div>
    <div class="search-modal-input-container">
      <input
        #headerSearch2
        type="text" class="search-modal-input"
        [(ngModel)]="searchModalInput"
        (focus)="onFocusSearchModalInput()"
        (blur)="onBlurSearchModalInput()">
        <!-- 코드 중복 1-->
      <div *ngIf="isModalInputFocused" class="search-dropdown">
        <div class="recent-search-title">최근 검색 기록</div>
        <ul class="recent-search-list">
          <li class="recent-search-list-item">
            <div class="icon-clock-container">
                <img class="icon-clock" src="../../../assets/img/icon_clock.svg" alt="icon-clock">
            </div>
            <div>
              <div class="recent-search-place">서초구 더케이호텔서울</div>
              <div class="recent-search-condition">모든 날짜 · 게스트 1명</div>
            </div>
          </li>
          <li class="recent-search-list-item">
            <div class="icon-clock-container">
                <img class="icon-clock" src="../../../assets/img/icon_clock.svg" alt="icon-clock">
            </div>
            <div>
              <div class="recent-search-place">한국</div>
              <div class="recent-search-condition">모든 날짜 · 게스트 1명</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
