<div class="container-fluid">
  <button style= "cursor: pointer;"*ngIf= "modal" (click) = "reservationModal.emit(modal)">
    <img class="off-button " src="../../../assets/img/login-image/off-button.svg" alt="off button">
  </button>
  <p class="lowest">최저</p>
  <span class="price">가격</span>
  <span class="lowest">/박</span>
  <div class= "wrapper">
    <div class= "input-wrapper">
      <p>날짜</p>
      <div class="row">
        <div class="col-sm-6">
          <angular-date-range-picker [(ngModel)]="selectedDateRange" [props]="dateRangePickerProps" regular></angular-date-range-picker>
        </div>
      </div>
    </div>
    <div class= "input-wrapper">
      <p>인원</p>
      <div>
        <div class= "checkperson-wrapper">
          <div class= "checkperson">
            <div class= "input-value-wrapper">
             <span style= "margin-right: 5px; font-weight: 200; color: #484848;">게스트</span>{{ totalcount()}}
            </div>
            <div class= "img-wrapper"(click)="dropdown()">
              <button >
                <img *ngIf= "!showdropdown" src="./../../../../assets/img/chevron_bottom.svg">
                <img *ngIf= "showdropdown" src="./../../../../assets/img/chevron_top.svg">
              </button>
            </div>
          </div>
          <div class= "menu" *ngIf= "showdropdown">
            <ul>
              <div class= "person">
                <li>성인</li>
                <div class= "btn-wrapper">
                  <button (click)= "aminus()" [disabled]="acount == 0">-</button>
                  <div class= "number">{{acount}}</div>
                  <button (click)= "aplus()">+</button>
                </div>
              </div>
              <div class= "person">
                <li>어린이</li>
                <div class="btn-wrapper">
                  <button (click)= "bminus()"  [disabled]="bcount == 0">-</button>
                  <div class= "number">{{bcount}}</div>
                  <button (click)= "bplus()">+</button>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class= "button-wrapper input-wrapper" (click) = "giveDate()" *ngIf= "auth.isAuthenticated()">
        <button class= "reservation-button" >예약 요청</button>
      </div>
      <div class="button-wrapper input-wrapper"*ngIf="!auth.isAuthenticated()">
        <button class="reservation-button">로그인 후 이용 가능 합니다.</button>
      </div>
      <p class="ptag">예약 확정 전에는 요금이 청구되지 않습니다</p>
    </div>
  </div>
</div>

