.container-fluid{
  width: 340px;
  height: 370px;
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid #DBDBDB;
}
p{
  margin: 0;
  font-size: 11px;
}
.wrapper {
  margin-top:25px;
}
.price {
  font-size: 16px;
}
.input-wrapper{
  margin:20px 0;
  height: 100%;
}
.reservation-button{
  background: #FF5A5F;
  width : 100%;
  height: 50px;
  margin-top:20px;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px !important;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

button {
  border:0;
  outline: none;
  box-shadow:none !important;
  background-color: #fff;
}
.img-wrapper {
  padding: 3px 5px 0 5px;
  cursor: pointer;
}
.img-wrapper button{
   cursor: pointer;
}
.button-wrapper {
  text-align: center;
}
.checkperson-wrapper{
  width: 100%;
  height: 40px;
  border: 1px solid #DBDBDB;
}
.checkperson{
  width :100%;
   height: 100%;
  display: flex;

}
.input-value-wrapper {
  width:100%;
  height: 100%;
  margin: 5px 20px 0px;
  font-size: 17px
}
img{
  width: 10px;
  font-size: 15px;
}
/* dropdown menu*/
.menu{
  padding: 10px;
  position: absolute;
  width: 300px;
  background-color: #fff;
  border-top: 2px solid #008489;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.07);
  border-radius: 3px;

}
ul{
  padding: 0;
  margin: 0;
}
li {
  list-style : none;
}
a {
  text-decoration : none;
  color : black;
}

.person {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.person li{
  margin: auto 0;
}
.person div button {
  border-radius: 50% ;
    text-align: center;
    line-height: 1;
    touch-action: manipulation;
    border-style: solid;
    border-color: #008489;
    background: transparent;
    width: 32px;
    height: 32px;
    border-width: 1px;
    color: #008489;
    margin: 0 5px;
}
.person div button:disabled {
  opacity: 0.2;
}
.btn-wrapper{
 display: flex;
 margin: auto 0;
}
.number {
  margin: 0 10px;
}

.ptag {
  margin: 0 auto;
  font-size: 12px;
}
