<div class ="main">
  <div class ="img-wrapper">
      <div class ="cover-img">
  </div>

  <div class =" container section">
    <div class ="row">
      <div>
      <div class="col-md-8 box">
        <div>
          <h1>@강남의 중심 고급 주거지역_하우스쉐어(개인룸)</h1>
          <span>지역</span>
        </div>
      </div>
      <div class="col-md-8 box">
        <ul class="count">
          <div class="count-box"><li>인dd원 3명</li></div>
          <div class="count-box"><li>인원 3명</li></div>
          <div class="count-box"><li>인원 3명</li></div>
          <div class="count-box"><li>인원 3명</li></div>
        </ul>
      </div>
      <div class="col-md-8 box">
        <ul class="facilities">
          <li>주방</li>
          <li>다리미</li>
          <li>무선 인터넷</li>
          <li>헤어드라이어</li>
          <li>건조기 </li>
        </ul>
      </div>
      <div class="col-md-8 box"> - 선릉역(2호선), 선정릉역(9호선, 분당선), 강남구청역(7호선)과 가까운 강남지역의 중심가에 위치한 주거지역. 지하철역 5분 거리, 버스정류장 1분 거리에 위치. - 강남역, 코엑스, 압구정 로데오, 청담,
        <hr> </div>
      <div class="col-md-8 box"><p>편의시설</p> 주말 다리미 무선 인터넷 헤어드라이어 건조기 케이블 tv
      <hr></div>

      <div class="col-md-8 box">
        <span>편의시설</span>
        <ul>
        <li>흡연 금지</li>
        <li>반려동물 동반에 적합하지 않음</li>
        <li>파티나 이벤트 금지</li>
        <li>어린이에게 안전하거나 적합하지 않음</li>
        <li>11:00까지 체크아웃</li>
      </ul>
      </div>
    </div>
    </div>
    <div class="reservation-desktop">
        <p class="lowest">최저</p>
        <span class="price">가격 적는곳</span>
      <span class="lowest">/박</span>
    </div>
    </div>
  </div>
  <div class="reservation-mobile">
    <div class="reservation-text">dsfkldsjflksj</div>
    <div class="reservation-button">
      <button class="button">
         예약요청
      </button>
    </div>
  </div>
</div>
