.main {
  width: 100%;
  height: 100%;
}
.img-wrapper{
  height: 100%;
}
.cover-img {
  background: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  margin-top: 80px;
}
.container{
  max-width: 1100px !important;
  display: flex;
}
.section{
  width:100%;
  margin :auto;
  margin-top: 20px;
}
.row{
  display: flex;
  flex-wrap: nowrap;
}
.box {
  margin: auto;
  margin-top: 25px;
}
.count {
  display: flex;
  flex-wrap: wrap;
}
.count-box{
  width: 100px;
  display: flex;
}

.facilities{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.facilities li{
  width: 50%;
  margin-top: 10px;
}
.bed{
  margin: 40px 0;
  width:200px;
  height: 150px;
  border: 1px solid #DBDBDB;
}
.bed-wrapper{
  width:100%;
  height: 100%;
  padding: 20px;
}
.bed-wrapper p {
  margin-top: 20px;
}
h1 {
  font-size : 1.7rem;
  font-weight: 700;
}

ul{
  list-style: none;
  padding:0;
  margin:0;
}
span{
  color: #484848;
  font-weight: 700;
}
.reservation-desktop{
  width: 500px;
  height: 350px;
  position: sticky;
  top:100px;
  padding: 10px 5px;

}
.reservation-modal{
  top:100px;
  padding: 10px 5px;
  display: block;
  position: fixed;
  padding-top: 280px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba( 0 , 0, 0, 0.5);
  z-index: 10;

}
.lowest{
  margin: 0;
  font-size: 12px;
}
.reservation-mobile{
  width: 100%;
  height: 60px;
  background-color: #fff;
  border : 1px solid #DBDBDB !important;
  padding: 0 40px;
  position: fixed;
  bottom: 0px;
  display: flex;
}

.reservation-text-wrapper {
  display: flex;
  width: 100%;
  padding: 20px 0;
}
.reservation-text-wrapper p{
  font-size: 13px;

}
.reservation-text-wrapper div {
  font-size: 17px;
}
.button {
  background: #FF5A5F;
  display: inline-block ;
  text-align: center ;
  text-decoration: none ;
  border-radius: 4px ;
  border : 0;
  color : #fff;
  width:150px;
  height: 70%;
  margin: 10px;
}

@media (max-width: 472px){
  .cover-img {
   height: 400px;
  }
  .img-wrapper{
  height: 500px;
}
}
@media (min-width: 600px){

   .reservation-mobile{
     display: none;
   }
   .reservation-modal{
     display: none;
   }
   .img-wrapper{
   height: 670px;
}

}

@media (max-width: 900px){
  .reservation-desktop{
     display: none;
   }
   .reservation-mobile{
     display: flex;
   }
   .main {
    font-size: 1.3rem;
  }
  h1{
    font-size: 2.0rem;
  }
  .map-wrapper{
    display: none;
  }
}

/* 구글 맵 관련 css*/
agm-map {
 width: 100%;
 height: 300px;
}
.map h1{
  margin: 20px 0;
}
.map-wrapper {
  margin-bottom: 20px;
}

