
.container {
  max-width: 800px;
}

.row {
  margin: 0;
}

/* progress bar */
.progress{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

.progress-bar-container {
  margin-top: 50px;
  margin-bottom: -17px
}

.progress-bar-striped {
  background-color: #00a699;
}
/* room 컨테이너 */
.room {
  width: 390px;
}

/* .roomtype-title {
  font-weight: 700;
  font-size: 28px;
  color: #484848;
  padding-bottom: 26px;
} */

.roomtype-description {
  padding: 15px 0;
  font-weight: 500;
}
.sub-description {
  font-size: 19px;
  color: #767676;
}

.room-type-selectbox {
  position: relative;
}

.room-count-selectbox {
  position: relative;
}

/* 침실, 최대인원 */

/* .bedroom-title {
  font-weight: 700;
  font-size: 28px;
  color: #484848;
  padding-bottom: 26px;
} */

.button-count-container {
  display: flex;
}

.page-title {
  font-weight: 700;
  font-size: 28px;
  color: #484848;
  padding-bottom: 26px;
}

.bedroom-count {
  margin : 0;
}

.bedroom-count-container {
  margin-top: 20px;
  display: flex;
}

.bedroom-description {
  padding: 0;
    margin-top: 20px;
}

.room-capacity-selectbox {
  position: relative;
}

.select-box {
  width: 318px;
  height: 46px;
  margin-bottom: 3px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 10px;
  text-overflow: '';
  font-size: 20px;
  font-weight: 500;
  overflow-y: auto;
}

/* article 컨테이너 */
.content-left {
  position: relative;
  height: 500px;
}

/* 위치 */

.location-container {
  padding: 0;
  overflow: hidden;
}

.location-title h3{
  font-weight: 800;
  padding: 0;
  font-size: 28px;
  color: #484848;
}

.location-searchbar {
  width: 70%;
  padding: 10px 0;
  margin-top: -20px;
}

.user-location {
  border: solid 3px rgb(34, 10, 131);
  height: 40px;
  border-radius: 7px;
  padding: 5px 7px;
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 편의물품 */

.amenity-title h3{
  font-weight: 800;
}
.amenities-label {
  display: block;
}

label.amenities-label {
  width: 150px;
  cursor: pointer;
}

/* 편의시설 */
.space-label {
  display: block;
}

.space-title h3 {
  font-weight: 800;
}

/* 사진업로드 */

.picture-title h3 {
  font-weight: 800;
}
.upload-picture-container {
  height: 200px;
  cursor: pointer;
  border: dashed 2px gray;
  border-radius: 3px;
  background-color : #efefef;
  background-repeat : repeat-x;
  padding: 0;
}

.trash-icon {
  width: 50px;
  height: 30px;
  position: absolute;
  left: 26px;
  top: 15px;
}

/* 업로드버튼 중간고정 */
.upload-btn-container {
  display: contents;
}

.image-list-container {
  height: 300px;
  overflow-y: scroll;
}

.image-list {
  padding-bottom: 15px;
}

.image-caption-contatiner {
  padding : 0;
}

.image-caption {
  width: 100%;
}

.upload-photo {
  /* 브라우져 제공 삭제 */
  display: none;
}

.photo-panel {
  /* width: 100%; */
  height: 165px;
}

.image-box {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -19px
}

.upload-btn {
  /* left: 235px;
  top: 158px; */
  /* width: 132.93px; */
  display: block;
  width: 110px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  margin-top: -19px;
  border-color: #ff5a5f;
  background-color: #ff5a5f;
  border-radius: 7px;
  /* padding: 0; */
}

/* 숙소이름 */
.accommodation-title h3 {
  font-weight: 800;
}

.accomodation-name {
  text-indent: 5px;
  width: 318px;
  height: 46px;
}

/* 숙소설명 */

.description-title h3 {
  font-weight: 800;
}

.description-textbox {
  width: 420px;
  height: 200px;

}

/* 예약 기간 설정 */
.avaiability-title h3{
  font-weight: 800;
}


/* 숙박가능기간 */

.min-max-reservation-date-title h3 {
  font-weight: 800;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.night-input-box {
  font-size: 20px;
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  border: 0;
  text-align: center;
  outline: 0;
}

.min-max-tooltip {
  margin-top: 10px;
  border: dashed 2px gray;
  background-color: #ffd1c4;
}

.min-max-tooltip-text {
  padding: 10px 10px;
  display: inline-block;
  color: black;
}

/* calendar */

.calendar-container {
  height: 300px;
  overflow-y: scroll;
}

.disable-date-title {
  margin: 0;
  padding: 0;
  display: flex;
}

.disable-date-title > h3{
  margin: 0;
  font-weight: 800;
  line-height: 57px;
}
.view-year-month {
  margin-left: 20px;
  font-weight: 600;
}
/* 가격 */

.price-title h3 {
  font-weight: 800;
}
.number-box {
  border: solid 1px gray;
  margin: 5px 0;
  position: relative;
}

.number-box span {
  font-size: 19px;
  margin-left: 12px
}

.price-box {
  font-size: 20px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  outline: 0;
}


/* hosting 버튼 패널 */
.hosting-button-panel {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 10px 0px;
  padding: 10px 0px;
  border-top: solid 1px gray;
}

/* 뒤로, 다음 버튼 */
.register-button {
  font-size: 1.5em;
  width: 100px;
  height: 50px;
}

.block-button {
  background-color: #fff;
}

/* 개수 버튼 */

.bathroom-count {
  padding: 10px 0;
  margin: 0 20px;
}

.bathroom-count-container {
  display: flex;
}


.block-box {
  display: block;
  margin-bottom: 5px;
}
.location-description {
  color: green;
}



/* layout */
.col-md-6 {
  padding: 0;
}

.col-md-7 {
  padding: 0;
}

.col-md-5 {
  padding: 0;
}

/* 제목요소 */
h2, h3 {
  margin: 15px 0;
}

/* ul */
ul {
  margin: 0;
  padding: 0 20px;
  list-style: none;
}

/* hosting 앞으로,뒤로 3D 버튼 */

.btn3d {
  position:relative;
  top: -6px;
  border:0;
  transition: all 40ms linear;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:2px;
  margin-right:2px;
}
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
  outline:medium none;
}
.btn3d:active, .btn3d.active {
    top:2px;
}
.btn3d.btn-primary {
    box-shadow:0 0 0 1px #008489 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #008489, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#008489;
}
.btn3d.btn-primary:active, .btn3d.btn-primary.active {
    box-shadow:0 0 0 1px #008489 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color:#008489;
}

/* 버튼 클릭 불가  */

.invalid {
  opacity: 0.5;
  pointer-events: none;
}

/* 증감버튼 설명 Label */
.bedroom-label, .bathroom-label {
  width: 40%;
}

.button-label {

  /* display: flex; */
}

.button-label span {
  font-size: 1.5em;
}


/* 증감버튼 */
.btn-circle {
  margin: 0 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 0;
  border-radius: 25px;
  border-color: #008489;
  color: #008489;
  background: transparent;
}

/* 체크박스 */
.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}

.chiller_cb {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
}
.chiller_cb input {
  display: none;
}

.chiller_cb .checked ~ span {
  background: #008489;
  border-color: #008489;
}
.chiller_cb .checked ~ span:before {
  width: 1rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.3s;
}
.chiller_cb .checked ~ span:after {
  width: 0.4rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.2s;
}

.chiller_cb input:disabled ~ span {
  background: #ececec;
  border-color: #dcdcdc;
}
.chiller_cb input:disabled ~ label {
  color: #dcdcdc;
}
.chiller_cb input:disabled ~ label:hover {
  cursor: default;
}
.chiller_cb label {
  padding-left: 2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-bottom:0;
}
.chiller_cb span {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid #ccc;
  position: absolute;
  left: 0;
  transition: all 0.2s;
  z-index: 1;
  box-sizing: content-box;
}
.chiller_cb span:before {
  transform: rotate(-55deg);
  top: 1rem;
  left: 0.37rem;
}
.chiller_cb span:after {
  transform: rotate(35deg);
  bottom: 0.35rem;
  left: 0.2rem;
}

/* uploadfile */
.custom-file {
  width: 80%;
  margin-bottom: 10px;
}

.fa-plus-circle {
  font-size: 45px;
  color: #008489;
  cursor: pointer;
}

.fa-minus-circle {
  font-size: 45px;
  color: #008489;
  cursor: pointer;
}

.fa-trash-alt {
  color:#008489;
  font-size: 23px;
  cursor: pointer;
}

.fa-lightbulb {
  color: #40bcb5;
  font-size: 30px;
}

.fa-chevron-down {
  position: absolute;
  left: 285px;
  top: 15px;
}

/* 맵 */
.map-screen {
  margin-top: 10px;
}

.button-label a, .button-label div {
  float:left;
}

.button-label div {
  padding:0 15px;
}

.circle-button {
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 0;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.04);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.08),0 2px 2px rgba(0,0,0,0.04);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.04);
  background-color: white;
  margin-top: 7px;
}

.circle-medium-button {
  height: 40px;
  width: 40px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 0;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.04);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.08),0 2px 2px rgba(0,0,0,0.04);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.04);
  background-color: white;
  margin-top: 7px;
}

.button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

.month-button {
  cursor: pointer;
  padding: 9px 35px;
  float: left;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.04);
  background-color: white;
  border: 0;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
}

.month-button-left {
  margin-left: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.month-button-right {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}



/* aside 도움말 */
.content-right {
  background-color: #fafafa;
}
.aside-panel-body {
  background-color: white;
  height: 350px;
  border: solid 1px #dce0e0;
  padding: 26px;
}

.bulb-icon {
  padding: 10px 0;
}

.tip {
  font-size: 16px;
  line-height: 150%;
  color: #767676;
  background-color: white;
}

.clicked {
  color: #dee0de;
}

agm-map {
  width: 100%;
  height: 200px;
}
