
<!--content container-->
<div class="content-container container">

  <!--progressbar container-->
  <div class="row progress-bar-container">
    <div class="progress col-md-12">
      <div class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar" aria-valuenow="progressbarPercentage" aria-valuemin="0"
      aria-valuemax="100" style="width: 0%" id="progressbar">{{progressbarPercentage}}%</div>
    </div>
  </div>
  <div class="row">
      <!--article container-->

    <article class="content-left col-md-6">
      <!--숙소정보 container-->
      <div *ngIf="currentState === 'room'" class="room-container">
        <div class="greeting">
          <h2 class="greeting-title">
            회원님 안녕하세요! 회원님의 숙소 등록을 도와드리겠습니다.
          </h2>
        </div>
        <div class="room-title">
          <h3>회원님의 숙소 정보를 입력해주세요!</h3>
        </div>
        <!--Room관련 selectBox들 설정-->

        <div class="room-selectbox">

          <!--방 개수 설정-->
          <div class="room-count-selectbox">
            <select class="select-box" (change)="chageRoomCount($event.target.value)" name="room-count">
              <option value="{{roomCount}}" *ngFor="let roomCount of roomCounts">
                방 {{roomCount}} 개
              </option>
            </select>
          </div>

          <!--최대수용인원 설정-->
          <div class="room-capacity-selectbox">
            <select class="select-box" (change)="chageRoomCapacity($event.target.value)" name="room-capacity">
              <option value="{{roomCapacity}}" *ngFor="let roomCapacity of roomCapacities">
              최대 {{roomCapacity}}명 숙박 가능
              </option>
            </select>
          </div>

          <!--숙소유형 설정(아파트,주택 등등)-->
          <div class="room-type-selectbox">
            <select class="select-box" (change)="chageRoomType($event.target.value)" name="room-type-category">
              <option value="{{roomCategory.type}}" *ngFor="let roomCategory of roomCategories">
                {{roomCategory.content}}
              </option>
            </select>
          </div>

        </div>

      </div>

      <!--침대정보 container-->
      <div *ngIf="currentState === 'bedroom'" class="bedroom-container">
        <!--침대(갯수 선택)-->
        <div class="bedroom">
          <h3 class="bedroom-title">
            사용할 수 있는 침대는 몇 개인가요?
          </h3>
          <!--Bedroom관련 selectBox들 설정-->
          <div class="bedroom-selectbox">
            <!--침대 유형 설정-->
            <!-- <div class="bedroom-type">
              <select name="bedroom-type">
                <option *ngFor="let bedroomType of bedroomTypes">
                  {{bedroomType}}
                </option>
              </select>
            </div> -->
            <!--침대 갯수 설정-->
            <div class="bedroom-count-container">
              <div class="bedroom-label button-label">
                <span class="bedroom-count">
                  침대
                </span>
              </div>
              <div class="bedroom-button button-label">
                <button type="button" class="btn btn-success btn-circle btn-lg"
                (click)="decreaseBedroomCount()">
                  <i class="glyphicon glyphicon-link">-</i>
                </button>
                <span>{{bedroomCount}}</span>
                <button type="button" class="btn btn-success btn-circle btn-lg"
                (click)="increaseBedroomCount()">
                  <i class="glyphicon glyphicon-link">+</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--욕실정보 container-->
      <div *ngIf="currentState === 'bathroom'" class="bathroom-container">
        <h3 class="bathroom-title">
          숙소의 욕실은 총 몇개 인가요?
        </h3>

        <!--욕실(갯수 선택)-->
        <div class="bathoom-count-container">

          <div class="bathoom-label button-label">
            <span class="bathoom-count">
              욕실 수
            </span>
          </div>
          <div class="bathoom-button button-label">
            <button type="button" class="btn btn-success btn-circle btn-lg" (click)="decreaseBathroomCount()">
              <i class="glyphicon glyphicon-link">-</i>
            </button>
            <span>{{bathroomCount}}</span>
            <button type="button" class="btn btn-success btn-circle btn-lg" (click)="increaseBathroomCount()">
              <i class="glyphicon glyphicon-link">+</i>
            </button>
          </div>
        </div>

      </div>

      <!--위치정보 container-->
      <div *ngIf="currentState === 'location'" class="location-container">
        <!--위치(설정)-->
        <h3>숙소의 위치를 알려주세요.</h3>
        <div class="location-searchbar">
          <span>주소입력 </span>
          <input type="text" placeholder="Enter Location!" (keyup.enter)="findLocation($event.target.value, showAddress)" #address>
        </div>
        <div class="location-field">
          <span>숙소의 위치가</span>
            <div>
              <em class="user-location" #showAddress>{{formattedLocation}}</em>
            </div>
          <span>가 맞나요?</span>
        </div>

        <div class="map-screen">
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude">
              <agm-info-window>{{formattedLocation}}</agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>

      <!--편의물품 container-->
      <div *ngIf="currentState === 'amenities'" class="amenities-container">
        <!--편의물품(종류 선택)-->
        <h3>어떤 편의시설을 제공하시나요?</h3>
        <div class="amenity-list">
            <div class="chiller_cb" *ngFor="let amenity of amenities">
              <input type="checkbox" value="{{amenity.id}}" id="{{amenity.id}}"
              (change)="changeAmenity(amenityList)" [class.checked]="amenity.available"
              #amenityList>
              <label for="{{amenity.id}}">{{amenity.content}}</label>
              <span></span>
            </div>
        </div>
      </div>

      <!--편의시설 container-->
      <div *ngIf="currentState === 'spaces'" class="spaces-container">
        <!--편의시설(종류 선택)-->
        <h3>게스트에게 회원님의 공간에 대해 설명해주세요.</h3>

        <div class="space-list">
          <div class="chiller_cb" *ngFor="let space of spaces">
            <input type="checkbox" value="{{space.id}}" id="{{space.id}}"
            (change)="changeSpace(spaceList)" [class.checked]="space.available"
            #spaceList>
            <label for="{{space.id}}">{{space.content}}</label>
            <span></span>
          </div>
        </div>
      </div>

      <!--사진정보 container-->
      <div *ngIf="currentState === 'picture'" class="picture-container">

          <h3>나만의 숙소 사진을 등록해주세요!</h3>
          <div class="row image-list-container">
            <div class="image-list col-6" *ngFor="let image of imageList">
              <input id="{{image.id}}" accept="image/*" class="upload-photo" type="file"
              (change)="onFileChange($event.target.files, image.id)">
              <label for="{{image.id}}" class="upload-picture-container col-12">
                <div class="upload-btn-container">
                  <a class="upload-btn btn btn-primary">사진 업로드</a>
                  <img class="image-box" *ngIf="image.available" src="{{image.caption}}">
                </div>
              </label>
            </div> <!--image-list-->
          </div> <!--row-->

      </div>

      <!--숙소설명 container-->
      <div *ngIf="currentState === 'description'" class="description-container">
        <h3>숙소에 대해서 설명해주세요.</h3>
        <input autofocus class="description-textbox" type="text" placeholder="역에서 5분거리입니다"
        (keyup)="checkNextButtonState()"
        [(ngModel)]="roomDescription">
      </div>

      <!--숙소이름 container-->
      <div *ngIf="currentState === 'accommodationName'" class="accommodationName-container">
        <h3>숙소이름 입력 해주세요.</h3>
          <input autofocus type="text" placeholder="숙소 이름"
           class="accomodation-name" maxlength="10"
           (keyup)="checkNextButtonState()"
           [(ngModel)]="roomName">
        <!-- <input autofocus class="accomodation-name" maxlength="10" type="text" placeholder="10글자 이내로 작성해주세요"
        [(ngModel)]="roomName"> -->
      </div>


      <!--예약 한도일 container-->
      <div *ngIf="currentState === 'maximumCheckInRange'" class="maximumCheckInRange-container">
        <h3>얼마나 먼 날짜까지 예약할 수 있나요? </h3>
        <div class="avaiability-date">
          <select class="select-box" (change)="chageAvailableDate($event.target.value)" name="avaiability-date">
            <option value="{{availableDate}}" *ngFor="let availableDate of availableDates">
              {{availableDate}}
            </option>
          </select>
        </div>
      </div>


      <!--최소 최대 예약가능한 날짜 container-->
      <div *ngIf="currentState === 'minMaxReservationDate'" class="minMaxReservationDate-container">
        <h3>게스트가 얼마동안 숙박할 수 있나요? </h3>
        <!--몇박 몇일 선택-->
        <div class="reservationSetting-container">

          <div class="min-night number-box">
            <input class="night-input-box" id="min-night-input-box" type="number" [value]="minNightCount"
            (focusout)="changeMinNightCount($event.target.value)" maxlength="4"
            onKeyPress="if(this.value.length==4) return false;">
            <label for="min-night-input-box">
              <span class="minNight-count">박(최소)</span>
            </label>
            <button (click)="decreaseMinNight()" class="count-button btn btn-outline-success">-</button>
            <button (click)="increaseMinNight()" class="count-button btn btn-outline-success">+</button>
          </div>
          <div class="max-night number-box">
            <input class="night-input-box" id="max-night-input-box" type="number" value="{{maxNightCount}}"
            (focusout)="changeMaxNightCount($event.target.value)" maxlength="4"
            onKeyPress="if(this.value.length==4) return false;">
            <label for="max-night-input-box" (click)="onMaxNightInputbox()">
              <span class="maxNight-count">박(최대)</span>
            </label>
            <button (click)="decreaseMaxNight()" class="count-button btn btn-outline-success">-</button>
            <button (click)="increaseMaxNight()" class="count-button btn btn-outline-success">+</button>
          </div>
          <div class="min-max-tooltip">
            <span class="min-max-tooltip-text" *ngIf="minNightCount > maxNightCount">
              최소 숙박일수는 최대 숙박일수를 넘을 수 없습니다.
            </span>
            <span class="min-max-tooltip-text" *ngIf="maxNightCount > maximumNightCount">
              숙박일수는 10박을 초과할 수 없습니다.
            </span>
            <span class="min-max-tooltip-text" *ngIf="maxNightCount >= 1 && maxNightCount === minNightCount">
              최소 숙박일수와 최대 숙박일수는 동일 할 수 없습니다.
            </span>
            <span class="min-max-tooltip-text" *ngIf="maxNightCount >= 1 && minNightCount === 0">
              최소 숙박일수는 0일 수 없습니다.
            </span>
          </div>
        </div> <!--setting-->
      </div> <!--container-->

      <!--숙박가격 container-->
      <div *ngIf="currentState === 'price'" class="price-container">
        <!--편의시설(종류 선택)-->
        <h3>모든 날짜에 동일하게 적용할 기본 요금을 설정하세요</h3>
        <div class="number-box">
          <span>₩</span>
          <input autofocus class="price-box" type="number" placeholder="45000"
          (keyup)="checkNextButtonState()"
          [value]="price"
          (focusout)="changePrice($event.target.value)"
          onKeyPress="if(this.value.length==8) return false;">
        </div>

        <div class="min-max-tooltip">
          <div *ngIf="price > 1">
            <span class="min-max-tooltip-text" *ngIf="price < 10670 || price > 10669995 ">
              최소 ₩10,670부터 최대 ₩10,669,995의 기본 요금을 설정하세요.
            </span>
          </div>
        </div>
      </div>

      <!--버튼 panel-->
      <div class="row justify-content-between hosting-button-panel">
        <button type="button" class="btn btn-primary btn-lg btn3d"
        (click)="sendingLocalData()">임시버튼</button>
        <div class="hosting-button-back">
          <button type="button" class="btn btn-primary btn-lg btn3d" (click)="backPageState()">
          <span class="glyphicon glyphicon-cloud"></span> 뒤로</button>
        </div>
        <div class="hosting-button-next">
          <button id="next-button" type="button" class="btn btn-primary btn-lg btn3d"
          (click)="nextPageState()">
          <span class="glyphicon glyphicon-cloud"></span> 다음</button>
        </div>
      </div>
    </article>


    <!--aside container-->
    <aside class="content-right col-md-6">
      <div class="help-panel">
        <div class="aside-panel-body d-flex justify-content-center">
          <pre>{{nextButtonState | json}}</pre>
        </div>
      </div>
    </aside>

  </div> <!--row container-->
</div> <!--content container-->
