.content-left {
  width: 500px;
}

.room {
  width: 390px;
}

.register-button {
  margin-left: 20px;
}

.content-left {
  margin: 20px;
}

.count-button {
  margin: 20px;
}

.block-box {
  display: block;
  margin-bottom: 5px;
}
.location-description {
  color: green;
}
/* .agm-map-container-inner {
  border-top: 2px solid gray;
  padding-top: 5px;
} */
.map-screen {
  margin-top: 10px;
}

agm-map {
  width: 100%;
  height: 300px;
}