
<!--content container-->
<div class="content-container container">


  <!--progressbar container-->
  <div class="row progress-bar-container">
    <div class="progress col-md-12">
      <div class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar" aria-valuenow="progressbarPercentage" aria-valuemin="0"
      aria-valuemax="100" style="width: 0%" id="progressbar">{{progressbarPercentage}}%</div>
    </div>
  </div>
  <div class="row">
      <!--article container-->

    <article class="content-left col-md-7">
      <!--숙소정보 container-->
      <div *ngIf="currentState === 'room'" class="room-container">
        <div class="greeting">
          <h2 class="roomtype-title page-title">
            등록하실 숙소 종류는 무엇인가요?
          </h2>
        </div>
        <div class="select-roomtype">
          <div class="roomtype-description">
            <span class="sub-description">우선 범위를 좁혀볼까요?</span>
          </div>
          <div class="room-selectbox">

            <!--숙소유형 설정(아파트,주택 등등)-->
            <div class="room-type-selectbox">
              <i class="fas fa-chevron-down"></i>
              <select class="select-box" (change)="chageRoomType($event.target.value)" name="room-type-category">
                <option value="{{roomCategory.type}}" *ngFor="let roomCategory of roomCategories">
                  {{roomCategory.content}}
                </option>
              </select>
            </div>

            <div class="roomtype-description">
              <span class="sub-description">방은 몇개 인가요?</span>
            </div>

            <!--방 개수 설정-->
            <div class="room-count-selectbox" >
              <a (click)="roomSelectBox(roomCountBox)">
                <i class="fas fa-chevron-down"></i>
              </a>
              <select #roomCountBox class="select-box" (change)="chageRoomCount($event.target.value)" name="room-count">
                <option value="{{roomCount}}" *ngFor="let roomCount of roomCounts">
                  방 {{roomCount}} 개
                </option>
              </select>
            </div>

          </div>
        </div>
        <!--Room관련 selectBox들 설정-->


      </div>

      <!--침대정보 container-->
      <div *ngIf="currentState === 'bedroom'" class="bedroom-container">
        <div class="bedroom">
          <h3 class="capacity-title page-title">
            숙소에 얼마나 많은 인원이 숙박할 수 있나요?
          </h3>
          <!--최대수용인원 설정-->
          <div class="room-capacity-selectbox">
            <a>
              <i class="fas fa-chevron-down"></i>
            </a>
            <select class="select-box" (change)="chageRoomCapacity($event.target.value)" name="room-capacity">
              <option value="{{roomCapacity}}" *ngFor="let roomCapacity of roomCapacities">
                최대 {{roomCapacity}}명 숙박 가능
              </option>
            </select>
          </div>
          <!--Bedroom관련 selectBox들 설정-->
          <div class="bedroom-selectbox">

            <!--침대(갯수 선택)-->
            <div class="bedroom-description">
              <span class="sub-description">게스트가 사용할 수 있는 침대는 몇 개인가요?</span>
            </div>
            <!--침대 갯수 설정-->
            <div class="bedroom-count-container">
              <div class="bedroom-label button-label">
                <span class="bedroom-count">
                  침대
                </span>
              </div>
              <div class="bedroom-button button-label">
                  <a (click)="decreaseBedroomCount()">
                    <i class="fas fa-minus-circle"></i>
                  </a>
                    <div><span>{{bedroomCount}}</span></div>
                  <a (click)="increaseBedroomCount()">
                    <i class="fas fa-plus-circle"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--욕실정보 container-->
      <div *ngIf="currentState === 'bathroom'" class="bathroom-container">
        <h3 class="bathroom-title page-title">
          숙소의 욕실은 총 몇개 인가요?
        </h3>

        <!--욕실(갯수 선택)-->
        <div class="bathroom-count-container">

          <div class="bathroom-label button-label">
            <span class="bathroom-count">
              욕실 수
            </span>
          </div>
          <div class="bathroom-button button-label">

            <a (click)="decreaseBathroomCount()">
              <i class="fas fa-minus-circle"></i>
            </a>
            <div>
              <span>{{bathroomCount}}</span>
            </div>
            <a (click)="increaseBathroomCount()">
              <i class="fas fa-plus-circle"></i>
            </a>
            <!-- <button type="button" class="btn btn-success btn-circle btn-lg" (click)="decreaseBathroomCount()">
              <i class="glyphicon glyphicon-link">-</i>
            </button>
            <span>{{bathroomCount}}</span>
            <button type="button" class="btn btn-success btn-circle btn-lg" (click)="increaseBathroomCount()">
              <i class="glyphicon glyphicon-link">+</i>
            </button> -->
          </div>
        </div>

      </div>

      <!--위치정보 container-->
      <div *ngIf="currentState === 'location'" class="location-container">
        <!--위치(설정)-->
        <div class="location-title">
          <h3>숙소의 위치를 알려주세요.</h3>
        </div>
        <div class="location-searchbar sub-description">
          <span>주소입력 </span>
          <input type="text" placeholder="예) 역삼1동 레미안아파트" (keyup.enter)="findLocation($event.target.value, showAddress)" #address>
        </div>
        <div class="location-field sub-description">
          <span>검색된 숙소 주소를 확인해주세요.</span>
            <div>
              <em class="user-location" #showAddress>{{formattedLocation}}</em>
            </div>
        </div>

        <div class="map-screen">
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude">
              <agm-info-window>{{formattedLocation}}</agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>

      <!--편의물품 container-->
      <div *ngIf="currentState === 'amenities'" class="amenities-container">
        <!--편의물품(종류 선택)-->

        <div class="amenity-title page-title">
          <h3>어떤 편의시설을 제공하시나요?</h3>
        </div>
        <div class="amenity-list">
            <div class="chiller_cb" *ngFor="let amenity of amenities">
              <input type="checkbox" value="{{amenity.id}}" id="{{amenity.id}}"
              (change)="changeAmenity(amenityList)" [class.checked]="amenity.available"
              #amenityList>
              <label for="{{amenity.id}}">{{amenity.content}}</label>
              <span></span>
            </div>
        </div>
      </div>

      <!--편의시설 container-->
      <div *ngIf="currentState === 'spaces'" class="spaces-container">
        <!--편의시설(종류 선택)-->
        <div class="space-title page-title">
          <h3>게스트에게 회원님의 공간에 대해 설명해주세요.</h3>
        </div>

        <div class="space-list">
          <div class="chiller_cb" *ngFor="let space of spaces">
            <input type="checkbox" value="{{space.id}}" id="{{space.id}}"
            (change)="changeSpace(spaceList)" [class.checked]="space.available"
            #spaceList>
            <label for="{{space.id}}">{{space.content}}</label>
            <span></span>
          </div>
        </div>
      </div>

      <!--사진정보 container-->
      <div *ngIf="currentState === 'picture'" class="picture-container">

        <div class="picture-title page-title">

          <h3>나만의 숙소 사진을 등록해주세요!</h3>
        </div>
          <div class="row image-list-container">
            <div class="image-list col-6" *ngFor="let image of imageList">
              <input id="{{image.id}}" accept="image/*" class="upload-photo" type="file"
              (change)="onFileChange($event.target.files, image.id)">
              <a class="remove-btn" (click)="removePhoto(image.id)">
                <i class="fas fa-trash-alt"></i>
              </a>
              <label for="{{image.id}}" class="upload-picture-container col-12">
                <div class="upload-btn-container">
                  <a class="upload-btn btn btn-primary">사진 업로드</a>

                  <img class="image-box" *ngIf="image.available" src="{{image.caption}}">
                </div>
              </label>
            </div> <!--image-list-->
          </div> <!--row-->

      </div>

      <!--숙소설명 container-->
      <div *ngIf="currentState === 'description'" class="description-container">

        <div class="description-title page-title">

          <h3>숙소에 대해서 설명해주세요.</h3>
        </div>
        <div class="description-text">
          <input autofocus class="description-textbox" type="text" placeholder="역에서 5분거리입니다"
          (keyup)="checkNextButtonState()"
          [(ngModel)]="roomDescription">
        </div>
      </div>

      <!--숙소이름 container-->
      <div *ngIf="currentState === 'accommodationName'" class="accommodationName-container">
        <div class="accommodation-title page-title">
          <h3>숙소이름을 입력 해주세요.</h3>
        </div>
          <input autofocus type="text" placeholder="10자이내로 입력 해주세요."
           class="accomodation-name" maxlength="10"
           (keyup)="checkNextButtonState()"
           [(ngModel)]="roomName">
        <!-- <input autofocus class="accomodation-name" maxlength="10" type="text" placeholder="10글자 이내로 작성해주세요"
        [(ngModel)]="roomName"> -->
      </div>


      <!--예약 한도일 container-->
      <div *ngIf="currentState === 'maximumCheckInRange'" class="maximumCheckInRange-container">

        <div class="avaiability-title page-title">
          <h3>얼마나 먼 날짜까지 예약할 수 있나요? </h3>
        </div>

        <div class="avaiability-date">
          <select class="select-box" (change)="chageAvailableDate($event.target.value)" name="avaiability-date">
            <option value="{{availableDate}}" *ngFor="let availableDate of availableDates">
              {{availableDate}}
            </option>
          </select>
        </div>
      </div>


      <!--최소 최대 예약가능한 날짜 container-->
      <div *ngIf="currentState === 'minMaxReservationDate'" class="minMaxReservationDate-container">

        <div class="min-max-reservation-date-title">
          <h3>게스트가 얼마동안 숙박할 수 있나요? </h3>
        </div>

        <!--몇박 몇일 선택-->
        <div class="reservationSetting-container">

          <div class="min-night number-box">
            <input class="night-input-box" id="min-night-input-box" type="number" [value]="minNightCount"
            (focusout)="changeMinNightCount($event.target.value)" maxlength="4"
            onKeyPress="if(this.value.length==4) return false;">
            <label for="min-night-input-box">
              <span class="minNight-count">박(최소)</span>
            </label>
            <button (click)="decreaseMinNight()" class="count-button btn btn-outline-success">-</button>
            <button (click)="increaseMinNight()" class="count-button btn btn-outline-success">+</button>
          </div>
          <div class="max-night number-box">
            <input class="night-input-box" id="max-night-input-box" type="number" value="{{maxNightCount}}"
            (focusout)="changeMaxNightCount($event.target.value)" maxlength="4"
            onKeyPress="if(this.value.length==4) return false;">
            <label for="max-night-input-box" (click)="onMaxNightInputbox()">
              <span class="maxNight-count">박(최대)</span>
            </label>
            <button (click)="decreaseMaxNight()" class="count-button btn btn-outline-success">-</button>
            <button (click)="increaseMaxNight()" class="count-button btn btn-outline-success">+</button>
          </div>
          <div class="min-max-tooltip">
            <span class="min-max-tooltip-text" *ngIf="minNightCount > maxNightCount">
              최소 숙박일수는 최대 숙박일수를 넘을 수 없습니다.
            </span>
            <span class="min-max-tooltip-text" *ngIf="maxNightCount > maximumNightCount">
              숙박일수는 10박을 초과할 수 없습니다.
            </span>
            <span class="min-max-tooltip-text" *ngIf="maxNightCount >= 1 && maxNightCount === minNightCount">
              최소 숙박일수와 최대 숙박일수는 동일 할 수 없습니다.
            </span>
            <span class="min-max-tooltip-text" *ngIf="maxNightCount >= 1 && minNightCount === 0">
              최소 숙박일수는 0일 수 없습니다.
            </span>
          </div>
        </div> <!--setting-->
      </div> <!--container-->

      <!--숙박가격 container-->
      <div *ngIf="currentState === 'price'" class="price-container">
        <!--편의시설(종류 선택)-->
        <div class="price-title">
          <h3>모든 날짜에 동일하게 적용할 기본 요금을 설정하세요.</h3>
        </div>
        <div class="number-box">
          <span>₩</span>
          <input autofocus class="price-box" type="number" placeholder="45000"
          (keyup)="checkNextButtonState()"
          [value]="price"
          (focusout)="changePrice($event.target.value)"
          onKeyPress="if(this.value.length==8) return false;">
        </div>

        <div class="min-max-tooltip">
          <div *ngIf="price > 1">
            <span class="min-max-tooltip-text" *ngIf="price < 10670 || price > 10669995 ">
              최소 ₩10,670부터 최대 ₩10,669,995의 기본 요금을 설정하세요.
            </span>
          </div>
        </div>
      </div>

      <!--버튼 panel-->
      <div class="row justify-content-between hosting-button-panel">
        <button type="button" class="btn btn-primary btn-lg btn3d"
        (click)="sendingLocalData()">임시버튼</button>
        <div class="hosting-button-back">
          <button type="button" class="btn btn-primary btn-lg btn3d" (click)="backPageState()">
          <span class="glyphicon glyphicon-cloud"></span> 뒤로</button>
        </div>
        <div class="hosting-button-next">
          <button id="next-button" type="button" class="btn btn-primary btn-lg btn3d"
          (click)="nextPageState()">
          <span class="glyphicon glyphicon-cloud"></span> 다음</button>
        </div>
      </div>
    </article>


    <!--aside container-->
    <aside class="content-right col-md-5">
      <div class="help-panel">
        <div class="bulb-icon">
          <i class="far fa-lightbulb"></i>
        </div>
        <div class="aside-panel-body d-flex justify-content-center">
          <!-- <pre>{{nextButtonState | json}}</pre> -->
          <p>회원님 숙소의 침대 수와 종류에 따라 몇 명의 인원이 불편함 없이 머물 수 있는지가 결정됩니다.</p>
        </div>
      </div>
    </aside>

  </div> <!--row container-->
</div> <!--content container-->
