/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400');
body {
  font-family: 'nanum gothic', sans-serif;
}
.pointer {
    cursor: pointer;
}
.on-dropdown-show {
    height: 100%;
    overflow: hidden;
}
