/* You can add global styles to this file, and also import other style files */
.pointer {
    cursor: pointer;
}
.on-dropdown-show {
    height: 100%;
    overflow: hidden;
}
/* .pac-container {
    position: fixed !important;
    top: 63px !important;
    width: 458px !important;
    padding: 32px;
    left: 83px !important;
} */
.pac-item {
    padding: 12px;
}
.pac-item:hover {
    background-color: #CCEEEB;
}
.pac-item-query {
    color: #484848;
    font-size: 15px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    word-wrap: break-word
}