footer{
  width: 100%;
  border-top: 1px solid #eee;
  margin-top: 50px;
  animation: name 1s ease-in-out;
}
.footer-main{
  display: flex;
  justify-content: center;
}
.footer-wrapper{
  display: flex;
  border-bottom: 1px solid #eee;
  flex-wrap: nowrap;


}
.footer-box{
  margin: 40px 60px;
}
ul{
  list-style: none;
  padding: 0;
}
.footer-span{
  color: #484848;
  margin-bottom: 15px;
  font-size: 16px;
}
ul li{
  color: #767676;
  font-size: 14px;
}

@media (max-width: 600px){
  footer{
    display: none;
  }
}

@keyframes name{
  from {
    transform: translateY(100%)
  }
  to{
    transform:translateY(0%);
  }
}
